body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --clients-text-color: #afb1b8;
  --animation-var: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.no-line a {
  text-decoration: none;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.logo-part1 {
  width: 145px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-part2 {
  width: 145px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.logo-header {
  padding: 24px 93px 24px 0;
}

.address {
  margin-top: 19px;
}

.address-list li:not(:last-child) {
  margin-bottom: 7px;
}

.logo-footer {
  width: 145px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-white-color);
}

.contacts-header .contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--primary-text-color);
  fill: currentColor;
}

.contact-link-list + .contact-link-list {
  margin-left: 30px;
}

.contact-link {
  display: flex;
  transition: color var(--animation-var);
  height: 16px;
  justify-content: center;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.site-nav a {
  transition: color var(--animation-var);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.nav-point:hover,
.nav-point:focus {
  transition: color var(--animation-var);
  color: #2196f3;
}

.site-nav {
  align-items: center;
  margin-right: auto;
}

.site-nav-items .link {
  display: block;
  margin-right: 50px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.site-nav-items .link:last-child {
  margin-right: 0;
}

.link {
  position: relative;
}

.nav-point.active-line::after {
  position: absolute;
  content: '';
  height: 4px;
  left: 0;
  right: 0;
  bottom: -3px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-header-items .link {
  margin-right: 50px;
  padding-top: 28px;
  padding-bottom: 28px;
  display: block;
}

.contacts-header-items .link:last-child {
  margin-right: 0;
}

.hero-title {
  width: 696px;
  padding-top: 200px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-right-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-button {
  display: inline-block;
  width: 200px;
  padding: 8px 32px;
  margin-bottom: 200px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196f3;
  color: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  transition: transform var(--animation-var);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: auto;
  margin: 0;
  transition: color var(--animation-var);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
}

.modal-close-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.form-order {
  padding: 40px 40px;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-block + .form-block {
  margin-top: 10px;
}

.form-item-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-label {
  stroke: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  display: block;
  width: 448px;
  padding: 10px 5px 10px 42px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-group {
  position: relative;
  display: block;
  margin-top: 4px;
  transition: outline var(--animation-var), fill var(--animation-var);
}

.form-group:focus-within {
  border: none;
  outline: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.form-logo {
  position: absolute;
  display: inline-block;
  top: 11px;
  left: 12px;
  color: var(--title-text-color);
}

.form-input-comment {
  display: block;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input-comment::placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-block-agreement {
  margin-top: 20px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 14px;
  transition: background-color var(--animation-var), border var(--animation-var);
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: var(--primary-white-color);
}

.agreement-checkbox:checked + .checkbox-icon {
  border: none;
  background-color: var(--accent-color);
}

.agreement-checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.agreement-text {
  display: inline-block;
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement-link {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.btn-form-submit {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
}

.btn-form-submit-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.advantages-section {
  padding-top: 94px;
  background-color: var(--primary-white-color);
}

.advantages-list {
  justify-content: center;
}

.advantages-list .advantages-item + .advantages-item {
  margin-left: 30px;
}

.advantages-item {
  max-width: 270px;
}

.advantages-item > .icon-advantages-position {
  display: flex;
  max-width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--team-background-color);
  border: none;
  border-radius: 4px;
}

.advantages-item-title {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--title-text-color);
}

.advantages-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.04em;
}

.example-title {
  text-align: center;
  padding-top: 94px;
  margin-bottom: 50px;
  font-size: 36px;
  color: var(--title-text-color);
}

.example-list .example-item + .example-item {
  margin-left: 30px;
}

.example-item-image {
  max-width: 100%;
  display: block;
}

.thumb {
  position: relative;
  vertical-align: middle;
}

.example-item-description {
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.portfolio-section {
  text-align: center;
}

.portfolio-card-conteiner {
  margin-left: auto;
  margin-right: auto;
}

.portfolio-card-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-card-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-section {
  padding-top: 94px;
  background-color: var(--team-background-color);
}

.team-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  color: var(--title-text-color);
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-item-title {
  padding: 30px 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-item-discription {
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-links-list {
  padding: 0 32px 30px;
}

.social-link-main {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: color var(--animation-var), background-color var(--animation-var);
  border-radius: 50%;
  cursor: pointer;
  color: #afb1b8;
  background-color: var(--primary-white-color);
  fill: currentColor;
}

.social-link-main:hover,
.social-link-main:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  fill: currentColor;
}

.clients-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.client-item-position {
  max-width: 170px;
  height: 90px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  transition: color var(--animation-var), border var(--animation-var);
  cursor: pointer;
  border: 1px solid var(--clients-text-color);
  border-radius: 4px;
  color: var(--clients-text-color);
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  fill: currentColor;
}

.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}

.page-footer {
  padding: 60px 0 60px 15px;
  text-decoration: none;
  background-color: #2f303a;
}

.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.69;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-footer a {
  transition: color var(--animation-var);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.69;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer :hover,
.contacts-footer :focus {
  color: var(--accent-color);
}

.social-links {
  margin-left: 70px;
  align-self: flex-start;
  padding-top: 12px;
}

.social-links-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-links-list {
  justify-content: center;
  align-items: center;
}

.social-link-item + .social-link-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background-color var(--animation-var);
  cursor: pointer;
  border-radius: 50%;
  color: var(--primary-white-color);
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: currentColor;
}

.form-subscribe {
  margin-left: 93px;
  align-self: flex-start;
  padding-top: 12px;
}

.form-suscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.input-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: var(--hero-background-color);
}

.input-email:placeholder {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: rgba(221, 94, 94, 0.6);
}

.btn-subsribe {
  width: 200px;
  height: 50px;
  padding: 10px 0;
  margin: 0 0 0 12px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
}

.btn-subscribe-text {
  margin-left: 29px;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.btn-icon {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/* Portfolio-page-css */

.filter-button {
  transition: background-color var(--animation-var), color var(--animation-var);
  padding: 6px 22px;
  text-align: center;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--team-background-color);
}

.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-buttons-list {
  justify-content: center;
  padding-bottom: 50px;
}

.filter-buttons-list .filter-button-item + .filter-button-item {
  margin-left: 8px;
}

.portfolio-list {
  flex-wrap: wrap;
}

.portfolio-card-item {
  margin-left: 30px;
  margin-bottom: 30px;
  transition: box-shadow var(--animation-var);
}

.portfolio-card-item:hover,
.portfolio-card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-item:nth-child(3n + 1) {
  margin-left: 0;
}

.portfolio-card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-picture {
  display: block;
}

.card-thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-thumb::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100%));
  transition: transform var(--animation-var);
  background-color: rgba(33, 150, 243, 0.9);
}

.card-thumb:hover.card-thumb::before {
  transform: translateY(0);
}

.hover-overlay {
  position: absolute;
  display: block;
  width: 370px;
  height: 294px;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100%));
  transition: transform var(--animation-var);
  text-align: left;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.card-thumb:hover .hover-overlay {
  transform: translateY(0);
}

.card-border {
  padding: 20px 24px;
  text-align: left;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
