// Стили соц. сетей

.socials-list {
  @extend %flex-centered;
  @extend %list-nomarked;
  padding: 0 32px 30px;

  &__item {
    & + & {
      margin-left: 10px;
    }
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: #afb1b8;
    background-color: $primary-white-color;
    fill: currentColor;
    @extend %hovered-focused-bg;
  }

  &--nopadding {
    margin: 0;
    padding: 0;
  }
}

//   Стили соц. сетей футера

.socials-links {
  &__title {
    margin-bottom: 20px;
    //   margin-left: 70px;
    //   padding-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  &--footered {
    margin-left: 70px;
    align-self: flex-start;
    padding-top: 12px;
  }
}

.socials-list {
  &__link--footered {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: #afb1b8;
    background-color: rgba(255, 255, 255, 0.1);
    fill: currentColor;
    @extend %hovered-focused-bg;
  }

  &__item {
    & + & {
      margin-left: 10px;
    }
  }
}
